* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/*центрирование*/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #8d0a0a;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/*всплывающие окно*/
.toast.active {
  transform: translateX(0%);
}

/*галочка*/
.toast .toast-content {
  display: flex;
  align-items: center;
}

/*галочка фон*/
.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #000000;
  color: #880505;
  font-size: 20px;
  border-radius: 50%;
}

/*текст в всплывающем окне*/
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

/*изменение увета и размера текста в всплывающем окне*/
.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #241919;
}

/*success*/
.message .text.text-1 {
  font-weight: 600;
  color: #000000;
}

/*крестик в всплывающем окне*/
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

/*синия линия в всплывающем окне*/
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fd0000;
}

/*анимация синий линии в всплывающем окне*/
.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/*Show Toast*/
button {
  padding: 12px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #9d0606;
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #6a0202;
}

/*pointer-events позволяет управлять условиями, при которых элементы вашей страницы будут реагировать на события мыши.*/
.toast.active ~ button {
  pointer-events: none;
}
/*При активации всплывающего сообщения, кнопка становится неактивной (нельзя кликнуть на нее) путем установки pointer-events: none.*/